{# جزئیات سانحه براساس دسته بندی دسته بندی #}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>جزئیات هشدار بر اساس دسته بندی آیتم هشدار</title>
    <style>
        body {
            font-family: 'Vazir FD';
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #444;
            background-color: #fdfdfd;
            margin-left: auto;
            margin-right: auto;
            padding: 40px;
            background-color: white;
            vertical-align: middle;
            direction: rtl;
        }
        td, th {
            padding: 14px;
            text-align: center;
            font-size: 13px;
            vertical-align: top;
            background-color: #f0f0f0;
            font-weight: bold;
            border: 1px solid #444;
        }
        th {
            text-align: center;
            font-size: 25px;
        }
        .page-break-container {
            page-break-before: always;
        }


        .chart {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        height: 120px;
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;
        padding: 11px;
        }
    
        .bar {
        width: 40px;
        background-color: #3c4eb1ff;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        }
        .bar span {
        margin-top: 5px;
        font-size: 10px;
        color: black;
        }
        .bar-label {
        margin-top: 5px;
        font-size: 11px;
        }
        @page {
        size: A4 portrait;
        margin: 1cm;
        }

        .stars {
        display: inline-block;
        font-size: 20px;
        color: #ccc; 
        }
        .stars .filled {
        color: #f5c518; 
        }
        
    </style>

    {% set NO_DATA = "<span style='font-size:12;color:gray;'>اطلاعات ناموجود</span>" %}

    {% set ENUM_TYPE = [
                {
                    "value": 0,
                    "label": "حادثه انسانی",
                    "sort": 1
                },
                {
                    "value": 1,
                    "label": "شبه حادثه",
                    "sort": 2
                },
                {
                    "value": 1,
                    "label": "حادثه زیست محیطی",
                    "sort": 2
                }
            ]%}

    {% macro recursive_loop(counter, stars, limit) %}
        {% if counter < limit %}
            {%if counter < stars %}
                <span class="filled">★</span>
                {{ recursive_loop(counter + 1, stars, limit) }}
            {%else%}
                <span>★</span>
                {{ recursive_loop(counter + 1, stars, limit) }}
            {%endif%}
        {% endif %}
    {% endmacro %}

</head>
<body>
    <table>

        <colgroup>
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
        </colgroup>
        
        <tr>
            <td colspan="5">جزئیات سانحه ها بر اساس دسته بندی آیتم سانحه</td>
        </tr>

        <tr>
            <td style="background-color: #e9e6e6;">دسته بندی</td>
            <td style="background-color: #e9e6e6;">تعداد سانحه ها</td>
            <td style="background-color: #e9e6e6;">میانگین درجه ریسک</td>
            <td style="background-color: #e9e6e6;">نوع سانحه</td> {# نمودار #}
            
        </tr>

        {%for category in data | selectattr("CAUSE", "defined") | map(attribute="CAUSE") | map(attribute="0") | map(attribute="LABEL") | unique | list %}
            
                {# تعاریف متغیر های استفاده شده برای انجام محاسبات #}
                {%set count = namespace(sum=0)%}
                {%set level = namespace(sum=0)%}
                {%set type0 = namespace(sum=0)%}
                {%set type1 = namespace(sum=0)%}
                {%set type2 = namespace(sum=0)%}

                {# در فور پایین محاسبات انجام میشود #}
                {%for incident in data%}
                    {%if incident.CAUSE%}
                        {%if incident.CAUSE[0].LABEL == category%}  
            
                            {% set count.sum = count.sum + 1 %} {# شمارش تعداد سانحه ها #}
                        
                            {%if incident.LEVEL%}
                                {% set level.sum = level.sum + incident.LEVEL %} {# مجموع درجه ریسک ها که باید در نهایت تقسیم بر تعداد کل هشدار ها بشود تا میانگین درجه ریسک به دست آید #}
                            {%endif%}

                            {%if incident.TYPE[0] == 0 %} {# نوع سانحه حادثه انسانی #}
                                {% set type0.sum = type0.sum + 1 %}
                            {%elif incident.TYPE[0] == 1 %} {# نوع سانحه شبه حادثه #}
                                {% set type1.sum = type1.sum + 1 %}
                            {%elif incident.TYPE[0] == 2%} {# نوع سانحه حادثه زیست محیطی #}
                                {% set type2.sum = type2.sum + 1 %}
                            {%endif%}

                        {%endif%}
                    {%endif%}
                {%endfor%}

            {%if count.sum != 0 %}
            <tr>
                <td style="background-color: #e9e6e6;">
                    {{category}}
                </td>

                <td>{{count.sum}}</td>

                {%if count.sum == 0%}
                    <td>No DATA</td>
                {%else%}
                    <td >
                        <div class="stars">
                            {{recursive_loop(0, (level.sum / count.sum) | int , 5)}}
                        </div>
                    </td>
                {%endif%}

                <td>
                    <div class="chart">
                        <div class="bar" style="height: {{type0.sum / (type0.sum + type1.sum + type2.sum) * 100}}%;">
                            <div style="color:black;">{{(type0.sum / (type0.sum + type1.sum + type2.sum) * 100) | int}}%</div>
                            <span class="bar-label">حادثه انسانی</span>
                        </div>
                        <div class="bar" style="height: {{type1.sum / (type0.sum + type1.sum + type2.sum) * 100}}%;">
                            <div style="color:black;">{{(type1.sum / (type0.sum + type1.sum + type2.sum) * 100) | int}}%</div>
                            <span class="bar-label">شبه حادثه</span>
                        </div>
                        <div class="bar" style="height: {{type2.sum / (type0.sum + type1.sum + type2.sum) * 100}}%;">
                            <div style="color:black;">{{(type2.sum / (type0.sum + type1.sum + type2.sum) * 100) | int}}%</div>
                            <span class="bar-label">حادثه زیست محیطی</span>
                        </div>
                    </div>
                </td> {# نمودار #}

            </tr>
            {%endif%}
        {%endfor%}

    </table>
 
</body>
</html>

