<html lang="fa">
    <head>
        <title>گزارش صورت وضعیت های هر قرارداد</title>
        <style>
            table, td, th{
                border: 1px solid;
                border-collapse: collapse;
            }
            td, th {
                padding: 10px;
                text-align: center;
                font-size: 12px;
            }
        </style>
    </head>
    <body>

        {% macro currency_handler(currency) %}
            
                {% if currency == "IRR " %}
                    ریال
                {% elif currency == "IRR" %}
                    ریال
                {% elif currency == "USD" %}
                    دلار
                {% elif currency == "GBP" %}
                    پوند
                {% elif currency == "EUR" %}
                    یورو
                {% else %}
                    {{ NO_DATA }}
                {% endif %}
      
        {% endmacro %}

        {% set NO_DATA = "<span style='font-size:12;color:gray;'>اطلاعات ناموجود</span>" %}
        
        {%set ENUM_TYPE = [
            {
              "value": 0,
              "label": "کارکرد",
              "sort": 1
            },
            {
              "value": 1,
              "label": "تعدیل",
              "sort": 2
            },
            {
              "value": 2,
              "label": "مابه التفاوت نرخ ارز",
              "sort": 3
            },
            {
              "value": 3,
              "label": "فرزندآوری",
              "sort": 4
            },
            {
              "value": 4,
              "label": "پاداش",
              "sort": 5
            },
            {
              "value": 5,
              "label": "پیش پرداخت",
              "sort": 6
            }
        ]%}

        {%set ENUM_STATUS = [
            {
              "value": 0,
              "label": "خاتمه داده شده",
              "sort": 1
            },
            {
              "value": 1,
              "label": "فسخ شده",
              "sort": 2
            },
            {
              "value": 2,
              "label": "تکمیل شده",
              "sort": 3
            }
        ]%}

        <table>

            <thead>
                <tr>
                    <th colspan="22" style = "background-color: #d6d2d2">صورت وضعیت های قرارداد {{id}} - {{TITLE}}</th>
                </tr>

                <tr style="background-color: #e9e6e6">

           
                    <th>شناسه صورت وضعیت</th>
                    <th>نوع صورت وضعیت</th>
                    <th>آیا قطعی است؟</th>
                    <th>تاریخ کارکرد تا</th>
                    <th>تاریخ ارسال پیمانکار</th>
                    <th>تاریخ ارسال به کارفرما</th>
                    <th>تاریخ ارسال به مشاور</th>
                    <th>تاریخ تایید مدیر طرح</th>
                    <th>تاریخ تایید کارفرما</th>
                    <th>تاریخ تایید مشاور</th>
                    <th>ناخالص دوره کارکرد</th>
                    <th>مبلغ تجمعی پیمانکار</th>
                    <th>مبلغ مالیات بر ارزش افزوده</th>
                    <th>مبلغ خالص دوره کارکرد</th>
                    <th>درصد مالیات بر ارزش افزوده</th>
                    <th>کسورات حسن انجام کار</th>
                    <th>کسورات سایر</th>
                    <th>مبلغ استهلاک پیش پرداخت</th>
                    <th>مبلغ تجمعی مدیر طرح</th>
                    <th>مبلغ تجمعی کارفرما</th>
                    <th>مبلغ تجمعی مشاور</th>
                    
                </tr>
            </thead>

            <tbody>
    
                {%for invoice in INVS%}
                <tr>

                    {%if invoice.id%}
                        <td>{{invoice.NUM}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.TYPE%}
                        <td>{{ENUM_TYPE[invoice.TYPE[0]].label}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.FINAL is defined%}
                        {%if invoice.FINAL%}
                            <td>بله</td>
                        {%else%}
                            <td>خیر</td>
                        {%endif%}
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    
                    {%if invoice.UNTIL_FUNC_DATE%}
                        <td>{{invoice.UNTIL_FUNC_DATE | jalali}}</td>
                    {%else%}
                        {{NO_DATA}}
                    {%endif%}

                    {%if invoice.DATE_SENT_CONTRACTOR%}
                        <td>{{invoice.DATE_SENT_CONTRACTOR | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.DATE_SENT_EMPLYR%}
                        <td>{{invoice.DATE_SENT_EMPLYR | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.DATE_SENT_CONSULT%}
                        <td>{{invoice.DATE_SENT_CONSULT | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                    
                    {%if invoice.DATE_CNFRMED_MNG%}
                        <td>{{invoice.DATE_CNFRMED_MNG | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.DATE_CNFRMED_EMPLYR%}
                        <td>{{invoice.DATE_CNFRMED_EMPLYR | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.DATE_CNFRMED_CONSULT%}
                        <td>{{invoice.DATE_CNFRMED_CONSULT | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}    

                    {%if invoice.FUNC_IMPURE is defined%}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(invoice.FUNC_IMPURE[0]['amount'] | int ) }} {{currency_handler(invoice.FUNC_IMPURE[0]["currency"])}}
                            </span>     
                        </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.SUM_IMPURE is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.SUM_IMPURE[0]['amount'] | int ) }} {{currency_handler(invoice.SUM_IMPURE[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.AMNT_TAX is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.AMNT_TAX[0]['amount'] | int ) }} {{currency_handler(invoice.AMNT_TAX[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.FUNC_PURE is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.FUNC_PURE[0]['amount'] | int ) }} {{currency_handler(invoice.FUNC_PURE[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.PRCNT_TAX is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.PRCNT_TAX[0]['amount'] | int ) }} {{currency_handler(invoice.PRCNT_TAX[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.PERFORM_DEDUC is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.PERFORM_DEDUC[0]['amount'] | int ) }} {{currency_handler(invoice.PERFORM_DEDUC[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.OTHER_DEDUC is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.OTHER_DEDUC[0]['amount'] | int ) }} {{currency_handler(invoice.OTHER_DEDUC[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.PREPAY_DEPREC is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.PREPAY_DEPREC[0]['amount'] | int ) }} {{currency_handler(invoice.PREPAY_DEPREC[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                    
                    {%if invoice.SUM_CNFRMED_MNG is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.SUM_CNFRMED_MNG[0]['amount'] | int ) }} {{currency_handler(invoice.SUM_CNFRMED_MNG[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.SUM_CNFRMED_EMPLYR is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.SUM_CNFRMED_EMPLYR[0]['amount'] | int ) }} {{currency_handler(invoice.SUM_CNFRMED_EMPLYR[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if invoice.SUM_CNFRMED_CONSULT is defined%}
                    <td>
                        <span style="direction: ltr; unicode-bidi: embed;">
                            {{  "{:,}".format(invoice.SUM_CNFRMED_CONSULT[0]['amount'] | int ) }} {{currency_handler(invoice.SUM_CNFRMED_CONSULT[0]["currency"])}}
                        </span>     
                    </td>
                    {%else%} 
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                      
                </tr>

                {%endfor%}

                <tr style = "background-color: #d6d2d2">
                    <td style="text-align: right"> مجموع:</td>
                    <td colspan="9"></td>
                
                    {% set sum_amounts = INVS
                        | selectattr('FUNC_IMPURE', 'defined')
                        | map(attribute='FUNC_IMPURE')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>
                    
                    {% set sum_amounts = INVS
                        | selectattr('SUM_IMPURE', 'defined')
                        | map(attribute='SUM_IMPURE')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    {% set sum_amounts = INVS
                        | selectattr('AMNT_TAX', 'defined')
                        | map(attribute='AMNT_TAX')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    {% set sum_amounts = INVS
                        | selectattr('FUNC_PURE', 'defined')
                        | map(attribute='FUNC_PURE')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    <td> -- </td>

                    {% set sum_amounts = INVS
                        | selectattr('PERFORM_DEDUC', 'defined')
                        | map(attribute='PERFORM_DEDUC')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    {% set sum_amounts = INVS
                        | selectattr('OTHER_DEDUC', 'defined')
                        | map(attribute='OTHER_DEDUC')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    {% set sum_amounts = INVS
                        | selectattr('PREPAY_DEPREC', 'defined')
                        | map(attribute='PREPAY_DEPREC')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    {% set sum_amounts = INVS
                        | selectattr('SUM_CNFRMED_MNG', 'defined')
                        | map(attribute='SUM_CNFRMED_MNG')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    {% set sum_amounts = INVS
                        | selectattr('SUM_CNFRMED_EMPLYR', 'defined')
                        | map(attribute='SUM_CNFRMED_EMPLYR')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                    {% set sum_amounts = INVS
                        | selectattr('SUM_CNFRMED_CONSULT', 'defined')
                        | map(attribute='SUM_CNFRMED_CONSULT')
                        | selectattr('0', 'defined')
                        | map(attribute=0)
                        | selectattr('amount', 'defined')
                        | map(attribute='amount') %}
                        <td>
                            <span style="direction: ltr; unicode-bidi: embed;">
                                {{  "{:,}".format(sum_amounts | sum | int ) }} ریال
                            </span>     
                        </td>

                </tr>
            </tbody>

        </table>
    </body>
</html>