<html lang="fa" dir="rtl">
    <head>
        <title>گزارش وضعیت هر قرارداد</title>
        <style>
          body{
            font-family: 'Vazir FD';
          }
            table, td, th{
                border: 1px solid;
                border-collapse: collapse;
            }
            td, th {
                padding: 10px;
                text-align: center;
                font-size: 12px;
            }
           @page {
      size: A4 landscape;
      margin: 20mm;
    }
        </style>
    </head>
    <body>

        {% set NO_DATA = "<span style='font-size:12;color:gray;'>اطلاعات ناموجود</span>" %}
        
        {%set ENUM_TYPE =  [
            {
              "value": 0,
              "label": "اجرایی",
              "sort": 1
            },
            {
              "value": 1,
              "label": "طراحی و مهندسی",
              "sort": 2
            },
            {
              "value": 2,
              "label": "تدارکات/تامین کالا",
              "sort": 3
            },
            {
              "value": 3,
              "label": "مشاوره ای",
              "sort": 4
            },
            {
              "value": 4,
              "label": "انفورماتیک (IT)",
              "sort": 5
            },
            {
              "value": 5,
              "label": "خدمات",
              "sort": 6
            },
            {
              "value": 6,
              "label": "مشارکت و سرمایه گذاری",
              "sort": 7
            },
            {
              "value": 7,
              "label": "ترکیبی یا جامع",
              "sort": 8
            },
            {
              "value": 8,
              "label": "ماشین آلات",
              "sort": 9
            },
            {
              "value": 9,
              "label": "املاک",
              "sort": 10
            },
            {
              "value": 10,
              "label": "سایر",
              "sort": 11
            }
        ]%}

        {%set ENUM_CNCLU = [
            {
              "value": 3,
              "label": "سایر",
              "sort": 1
            },
            {
              "value": 0,
              "label": "تکمیل موضوع پیمان",
              "sort": 2
            },
            {
              "value": 1,
              "label": "خاتمه از سوی کارفرما (ماده 48)",
              "sort": 3
            },
            {
              "value": 2,
              "label": "فسخ از سوی کارفرما (ماده 46)",
              "sort": 4
            }
        ]%}

        {%set ENUM_STATE = [
            {
              "value": 0,
              "label": "شروع نشده",
              "sort": 1
            },
            {
              "value": 1,
              "label": "جاری",
              "sort": 2
            },
            {
              "value": 2,
              "label": "تکمیل شده",
              "sort": 3
            },
            {
              "value": 3,
              "label": "خاتمه داده شده",
              "sort": 4
            },
            {
              "value": 4,
              "label": "فسخ شده",
              "sort": 5
            }
        ]%}

        <table>

            <thead>
                <tr>
                    <th colspan="20" style = "background-color: #d6d2d2"> وضعیت قرارداد</th>
                </tr>

                <tr style="background-color: #e9e6e6">
                    <th>شناسه</th>
                    <th>عنوان قرارداد</th>
                    <th>نوع قرارداد</th>
                    <th>وضعیت قرارداد</th>
                    <th>تاریخ شروع</th>
                    <th>تاریخ پایان مدت اولیه قرارداد</th>
                    <th>مدت اولیه قرارداد (روز)</th>
                    <th>مدت کل قرارداد با احتساب متمم/الحاقی</th>
                    <th>بررسی وضعیت نهایی قرارداد</th>

                </tr>
            </thead>
            <tbody>

              {%for item in data%}

                <tr>
                    {%if item.id%}
                        <td>{{item.id}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                    
                    {%if item.TITLE%}
                        <td>{{item.TITLE}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if item.TYPE%}
                        <td>{{ENUM_TYPE[item.TYPE[0]].label}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if item.STATE%}
                        <td>{{ENUM_STATE[item.STATE[0]].label}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if item.START_DATE%}
                        <td>{{item.START_DATE | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if item.INIT_END_DATE%}
                        <td>{{item.INIT_END_DATE | jalali}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                    
                    {%if item.PRIMARY_DUR%}
                        <td>{{item.PRIMARY_DUR}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {%if item.TOTAL_DUR%}
                        <td>{{item.TOTAL_DUR}}</td>
                    {%else%}
                        <td>{{NO_DATA}}</td>
                    {%endif%}

                    {#{%if (now() > datetime.strptime(item.INIT_END_DATE, '%Y-%m-%d %H:%M:%S.%f').strftime('%m/%d/%Y') )%} 
                        <td style="color: green">به پایان رسیده</td> 
                    {%else%}
                        <td style="color red">به پایان نرسیده</td>
                    {%endif%}

                    <td>{{datatime.strptime(INIT_END_DATE, '%Y-%m-%d')}}</td> #}

                    <td></td>
                    
                </tr>
                
                <tr style = "background-color: #d6d2d2">
                  <td colspan="20"></td>
                    <!-- یه سری سام محاسباتی      -->
                    <!-- اضافه شود -->
                </tr>

              {%endfor%}
              
            </tbody>

        </table>
    </body>
</html>