<html lang="fa">
    <head>
        <title>گزارش صورت وضعیت ها</title>
        <style>
            table, td, th{
                border: 1px solid;
                border-collapse: collapse;
            }
            td, th {
                padding: 10px;
                text-align: center;
              font-size: 12px;
            }
        </style>
    </head>
    <body>

        {% set NO_DATA = "<span style='font-style:italic;font-size:12;color:red;'>اطلاعات ناموجود </span>" %}

        {% set ENUM_TYPE =[
            {
              "value": 0,
              "label": "کارکرد",
              "sort": 1
            },
            {
              "value": 1,
              "label": "تعدیل",
              "sort": 2
            },
            {
              "value": 2,
              "label": "مابه التفاوت نرخ ارز",
              "sort": 3
            },
            {
              "value": 3,
              "label": "فرزندآوری",
              "sort": 4
            },
            {
              "value": 4,
              "label": "پاداش",
              "sort": 5
            },
            {
              "value": 5,
              "label": "پیش پرداخت",
              "sort": 6
            }
        ]%}

        {% set ENUM_STATUS = [
            {
            "value": 0,
            "label": "خاتمه داده شده",
            "sort": 1
            },
            {
            "value": 1,
            "label": "فسخ شده",
            "sort": 2
            },
            {
            "value": 2,
            "label": "تکمیل شده",
            "sort": 3
            }
        ]%}

        <table>

            <thead>
                <tr>
                    <th colspan="2">صورت وضعیت ها</th>
                </tr>

            </thead>

            <tbody>
                <tr> 
                    <th>شماره</th>
                    {%if NUM%}
                        <td>{{NUM}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>نوع صورت وضعیت</th> TYPE array
                </tr>

                <tr> 
                    <th>توضیحات</th> 
                    {%if DESCR%}
                        <td>{{DESCR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>قطعی</th> FINAL bool
                </tr>

                <tr> 
                    <th>سایر پیوستها</th> 
                    {%if OTHER%}
                        <td>{{OTHER}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>پیوست</th>
                    {%if ATTACH%}
                        <td>{{ATTACH}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>فاکتور</th> FACTOR array
                </tr>

                <tr> 
                    <th>شناسه قدیمی</th> OLD_ID str
                    {%if OLD_ID%}
                        <td>{{OLD_ID}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>وضعیت</th> STATUS array
                </tr>

                <tr> 
                    <th>مبلغ مالیات بر ارزش افزوده</th> AMNT_TAX array
                </tr>

                <tr> 
                    <th>مبلغ خالص دوره کارکرد</th> FUNC_PURE array
                </tr>

                <tr> 
                    <th>درصد مالیات بر ارزش افزوده</th> PRCNT_TAX number 
                </tr>

                <tr> 
                    <th>تاریخ ارسال/دریافت</th> 
                    {%if SENT_DATE%}
                        <td>{{SENT_DATE}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>مبلغ تجمعی پیمانکار</th> SUM_IMPURE array
                </tr>

                <tr> 
                    <th>پیوست صورت وضعیت تاییدی</th> 
                    {%if CNFRMED_MNG%}
                        <td>{{CNFRMED_MNG}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>ناخالص دوره کارکرد</th> FUNC_IMPURE array
                </tr>

                <tr> 
                    <th>کسورات سایر</th> OTHER_DEDUC array
                </tr>

                <tr> 
                    <th>شماره نامه  تاییدی مشاور</th>
                    {%if TECH_CONSUL%}
                        <td>{{TECH_CONSUL}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>شماره نامه ارسال/دریافت</th> 
                    {%if SENT_NO_CORR%}
                        <td>{{SENT_NO_CORR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>کسورات حسن انجام کار</th> PERFORM_DEDUC array
                </tr>

                <tr> 
                    <th>مبلغ استهلاک پیش پرداخت</th> PREPAY_DEPREC array
                </tr>

                <tr> 
                    <th>شماره نامه تاییدی مدیر طرح</th>
                    {%if NO_CNFRMED_MNG%}
                        <td>{{NO_CNFRMED_MNG}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>پیوست صورت وضعیت تاییدی</th> 
                    {%if CNFRMED_CONSULT%}
                        <td>{{CNFRMED_CONSULT}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>شماره نامه تاییدی کارفرما</th>
                    {%if NO_CORR_CNFRMED%}
                        <td>{{NO_CORR_CNFRMED}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>مبلغ تجمعی مدیر طرح</th> SUM_CNFRMED_MNG array
                </tr>

                <tr> 
                    <th>تاریخ کارکرد تا</th> 
                    {%if UNTIL_FUNC_DATE%}
                        <td>{{UNTIL_FUNC_DATE}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>پیوست نامه تاییدی مدیر طرح</th>
                    {%if CORR_CNFRMED_MNG%}
                        <td>{{CORR_CNFRMED_MNG}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>تاریخ تایید مدیر طرح</th> 
                    {%if DATE_CNFRMED_MNG%}
                        <td>{{DATE_CNFRMED_MNG}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>تاریخ ارسال به کارفرما</th> 
                    {%if DATE_SENT_EMPLYR%}
                        <td>{{DATE_SENT_EMPLYR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>تاریخ ارسال به مشاور</th>
                    {%if DATE_SENT_CONSULT%}
                        <td>{{DATE_SENT_CONSULT}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>مالیات مستقیم مشاور حقیقی</th> DRECT_TAX_CONSULT array
                </tr>

                <tr> 
                    <th>مهلت پرداخت به روز</th> INVS_PAY_DEADLINE number
                </tr>

                <tr> 
                    <th>تجمعی مبلغ استهلاک پیش پرداخت</th> SUM_PREPAY_DEPREC array
                </tr>

                <tr> 
                    <th>پیوست صورت وضعیت تاییدی</th> 
                    {%if CNFRMED_CONTRACTOR%}
                        <td>{{CNFRMED_CONTRACTOR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>شماره نامه  پیمانکار</th> 
                    {%if NO_CORR_CONTRACTOR%}
                        <td>{{NO_CORR_CONTRACTOR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr>
                     <th>مبلغ تجمعی کارفرما</th> SUM_CNFRMED_EMPLYR array
                </tr>

                <tr>  
                    <th>پیوست نامه تاییدی</th>
                    {%if CORR_CNFRMED_EMPLYR%}
                        <td>{{CORR_CNFRMED_EMPLYR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>تاریخ تایید کارفرما</th> DATE_CNFRMED_EMPLYR 
                </tr>

                <tr> 
                    <th>پیوست صورت وضعیت ارسالی</th> 
                    {%if INV_SENT_CONTRACTOR%}
                        <td>{{INV_SENT_CONTRACTOR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>شماره نامه ارسال به کارفرما</th> 
                    {%if NO_CORR_SENT_EMPLYR%}
                        <td>{{NO_CORR_SENT_EMPLYR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>مبلغ تجمعی مشاور</th> SUM_CNFRMED_CONSULT array
                </tr>

                <tr> 
                    <th>پیوست نامه تاییدی</th> 
                    {%if CORR_CNFRMED_CONSULT%}
                        <td>{{CORR_CNFRMED_CONSULT}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>پیوست نامه ارسالی</th> 
                    {%if CORR_SENT_CONTRACTOR%}
                        <td>{{CORR_SENT_CONTRACTOR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>تاریخ تایید مشاور</th> 
                    {%if DATE_CNFRMED_CONSULT%}
                        <td>{{DATE_CNFRMED_CONSULT}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>تاریخ ارسال پیمانکار</th>
                    {%if DATE_SENT_CONTRACTOR%}
                        <td>{{DATE_SENT_CONTRACTOR}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>

                <tr> 
                    <th>شماره نامه ارسال به مشاور</th>   
                    {%if NO_CORR_SENT_CONSULT%}
                        <td>{{NO_CORR_SENT_CONSULT}}</td>
                    {%else}
                        <td>{{NO_DATA}}</td>
                    {%endif%}
                </tr>           
                
            </tbody>
        </table>
    </body>
</html>

               