{#صفحه خلاصه قراردادهای جاری و شروع نشده#}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>صفحه خلاصه قراردادهای جاری و شروع نشده</title>
    <style>
        body {
            font-family: 'Vazir FD';
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #444;
            background-color: #fdfdfd;
            margin-left: auto;
            margin-right: auto;
            padding: 40px;
            background-color: white;
            vertical-align: middle;
            direction: rtl;
        }
        td, th {
            padding: 15px;
            text-align: center;
            font-size: 13px;
            vertical-align: top;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            font-weight: bold;
            border: 1px solid #444;
        }
        td.chart {
            vertical-align: top;
        }
        th {
            text-align: center;
            font-size: 25px;
        }
        
        .pie-container {
            width: 70px;
            height: 70px;
        }
        .legend {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-family: sans-serif;
            margin-top: 10px;
            align-items: start;
            font-family: 'Vazir FD';
        }
        .legend-color {
            display: inline-block;
            width: 7px;
            height: 7px;
            margin-right: 5px;
        }
        
        .page-break-container {
            page-break-before: always;
        }

        @page {
        size: A4 portrait;
        margin: 2mm;
        }


    </style>


    {%set STATUS_ENUM = [
        {
          "value": 0,
          "label": "خاتمه داده شده",
          "sort": 1
        },
        {
          "value": 1,
          "label": "فسخ شده",
          "sort": 2
        },
        {
          "value": 2,
          "label": "تکمیل شده",
          "sort": 3
        }
    ]%}

    {%set TYPE_ENUM = [
        {
          "value": 0,
          "label": "تدارکات/تامین کالا",
          "sort": 1
        },
        {
          "value": 1,
          "label": "مشاوره ای",
          "sort": 2
        },
        {
          "value": 2,
          "label": "انفورماتیک (IT)",
          "sort": 3
        },
        {
          "value": 3,
          "label": "خدمات",
          "sort": 4
        }
    ]%}

    {%set NATURE_ENUM = [
        {
          "value": 0,
          "label": "درآمدی",
          "sort": 1
        },
        {
          "value": 1,
          "label": "هزینه ای",
          "sort": 2
        }
    ]%}


</head>
<body>

    <div class="page-break-container"></div>
    <table>

        <tr >
            <td colspan="4" style= "background-color: darkgrey; ">خلاصه قراردادهای جاری کیسون</td>
        </tr>

        <tr>

            <td></td>
            <td>به تفکیک ماهیت</td>
            <td>به تفکیک وضعیت</td>
            <td>به تفکیک نوع</td>
            
            
        </tr>
        <tr>

            <td style="vertical-align: center;">
                تعداد کل قراردادها
            </td>

            <td style="align-items: center; background-color:white;">
                

                    <svg width="70" height="70" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="margin:5px">

                        <circle r="10" cx="10" cy="10" fill="lightgray" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="midnightblue"
                            stroke-width="10"
                            stroke-dasharray="{{(data | selectattr("NATURE", "equalto", [0]) | list | length) / (data | length) * 0.314159}} 31.4159"
                            transform="rotate(-90 10 10)" />

                    </svg>

                    <div class="legend">
                        <div><span class="legend-color" style="background-color: midnightblue;"></span>درآمدی</div>
                        <div><span class="legend-color" style="background-color: lightgray;"></span>هزینه ای</div>
                        
                    </div>
          
            </td>

            <td style="align-items: center; background-color:white;">
                

                    <svg width="70" height="70" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="margin:5px">

                        <circle r="10" cx="10" cy="10" fill="lightgray" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="midnightblue"
                            stroke-width="10"
                            stroke-dasharray="11 31.4"
                            transform="rotate(-90 10 10)" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="blue"
                            stroke-width="10"
                            stroke-dasharray="15.7 31.4"
                            transform="rotate(36 10 10)" />

                    </svg>

                    <div class="legend">
                        <div><span class="legend-color" style="background-color: midnightblue;"></span>خاتمه داده شده</div>
                        <div><span class="legend-color" style="background-color: blue;"></span>فسخ شده</div>
                        <div><span class="legend-color" style="background-color: lightgray;"></span>تکمیل شده</div>
                    </div>
          
            </td>

             <td style="align-items: center; background-color:white;">

                    <svg width="70" height="70" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="margin:5px">

                        <circle r="10" cx="10" cy="10" fill="lightgray" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="midnightblue"
                            stroke-width="10"
                            stroke-dasharray="11 31.4"
                            transform="rotate(-90 10 10)" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="lightblue"
                            stroke-width="10"
                            stroke-dasharray="15.7 31.4"
                            transform="rotate(36 10 10)" />

                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="blue"
                            stroke-width="10"
                            stroke-dasharray="1.57 31.4"
                            transform="rotate(216 10 10)" />

                    </svg>

                    <div class="legend">
                        <div><span class="legend-color" style="background-color: midnightblue;"></span>تدارکات/تامین کالا</div>
                        <div><span class="legend-color" style="background-color: lightblue;"></span>مشاوره ای</div>
                        <div><span class="legend-color" style="background-color: blue;"></span>انفورماتیک</div>
                        <div><span class="legend-color" style="background-color: lightgrey;"></span>خدمات</div>
                    </div>
          
            </td>
            

        </tr>
        <tr>

            
            <td style="vertical-align: center;">مجموع کل مبالغ قراردادها</td>
            
            
            <td style="align-items: center; background-color:white;">
                

                    <svg width="70" height="70" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="margin:5px">

                        <circle r="10" cx="10" cy="10" fill="lightgray" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="midnightblue"
                            stroke-width="10"
                            stroke-dasharray="11 31.4"       {# "{{(data | selectattr("NATURE", "equalto", [0]) | map(attribute="FIRST_AMNT")| map(attribute="0") | map(attribute='amount') | list | sum) / (data | selectattr("FIRST_AMNT", "defined") | map(attribute="FIRST_AMNT")| | selectattr("0", "defined") | map(attribute="0") | selectattr("amount", "defined") | map(attribute='amount') | list | sum) * 0.314159}} 31.4159" #}
                            transform="rotate(-90 10 10)" />

                    </svg>

                    <div class="legend">
                        <div><span class="legend-color" style="background-color: midnightblue;"></span>درآمدی</div>
                        <div><span class="legend-color" style="background-color: lightgray;"></span>هزینه ای</div>
                        
                    </div>
          
            </td>

            <td style="align-items: center; background-color:white;">
                

                    <svg width="70" height="70" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="margin:5px">

                        <circle r="10" cx="10" cy="10" fill="lightgray" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="midnightblue"
                            stroke-width="10"
                            stroke-dasharray="11 31.4"
                            transform="rotate(-90 10 10)" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="blue"
                            stroke-width="10"
                            stroke-dasharray="15.7 31.4"
                            transform="rotate(36 10 10)" />

                    </svg>

                    <div class="legend">
                        <div><span class="legend-color" style="background-color: midnightblue;"></span>خاتمه داده شده</div>
                        <div><span class="legend-color" style="background-color: blue;"></span>فسخ شده</div>
                        <div><span class="legend-color" style="background-color: lightgray;"></span>تکمیل شده</div>
                    </div>
          
            </td>

            <td style="align-items: center; background-color:white;">

                    <svg width="70" height="70" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="margin:5px">

                        <circle r="10" cx="10" cy="10" fill="lightgray" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="midnightblue"
                            stroke-width="10"
                            stroke-dasharray="11 31.4"
                            transform="rotate(-90 10 10)" />
                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="lightblue"
                            stroke-width="10"
                            stroke-dasharray="15.7 31.4"
                            transform="rotate(36 10 10)" />

                        <circle r="5" cx="10" cy="10"
                            fill="transparent"
                            stroke="blue"
                            stroke-width="10"
                            stroke-dasharray="1.57 31.4"
                            transform="rotate(216 10 10)" />

                    </svg>

                    <div class="legend">
                        <div><span class="legend-color" style="background-color: midnightblue;"></span>تدارکات/تامین کالا</div>
                        <div><span class="legend-color" style="background-color: lightblue;"></span>مشاوره ای</div>
                        <div><span class="legend-color" style="background-color: blue;"></span>انفورماتیک</div>
                        <div><span class="legend-color" style="background-color: lightgrey;"></span>خدمات</div>
                    </div>
          
            </td>
           
        </tr>

        <tr >
            <td colspan="4" style= "background-color: darkgrey;"></td>
        </tr>

    </table>

    <br>
    <br>

    <table>
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tr >
            <td colspan="2" style= "background-color: darkgrey;">صورت وضعیت ها</td>
        </tr>
        {% set notConfirmedcount = 0 %}
        {% for inv in data | map(attribute='INVS') | list %}
            {% if inv.FUNC_IMPURE is not defined or inv.FUNC_IMPURE in [None, [], 0] %}
                {% set notConfirmedcount = notConfirmedcount + 1 %}
            {% endif %}
        {% endfor %}
        <tr>
            <td style="text-align:right">تعداد کل صورت وضعیت های ارسالی:</td>
            <td style="text-align:right; border-right-style: hidden;">{{ data | map(attribute='INVS') | list | length }}</td>
        </tr>
        <tr>
            <td style="text-align:right">تعداد کل صورت وضعیت های تاییدی:</td>
            <td style="text-align:right; border-right-style: hidden;">{{ data | map(attribute='INVS') | list | length - notConfirmedcount }}</td>
        </tr> 
        <tr>
            <td colspan="2" style="text-align:right; background-color:white" colspan="2">{{((data | map(attribute='INVS') | list | length - notConfirmedcount) / (data | map(attribute='INVS') | list | length) * 100) | int }}% تعداد صورت وضعیت های ارسالی، تایید شده اند.</td>
        </tr>

        <tr>
            <td colspan="2" style= "background-color: #d6d2d2;"></td>
        </tr>

        <tr >
            <td style="text-align:right">مبلغ کل صورت وضعیت های ارسالی:</td>
            <td style="text-align:right; border-right-style: hidden;">{{ data 
                                                                            | selectattr("TOTAL_AMNT_INV_SENT", "defined") 
                                                                            | map(attribute="TOTAL_AMNT_INV_SENT") | list
                                                                            | map("int") 
                                                                            | sum 
                                                                            | money 
                                                                            }} ریال
                                                                            </td>                                                   
        </tr>

        <tr>
            <td style="text-align:right">مبلغ کل صورت وضعیت های تاییدی: </td>  
            <td style="text-align:right; border-right-style: hidden;">   {{ data 
                                                                            | selectattr("TOTAL_INV_CNFRMED", "defined") 
                                                                            | map(attribute="TOTAL_INV_CNFRMED") | list
                                                                            | map("int") 
                                                                            | sum 
                                                                            | money 
                                                                            }} ریال
                                                                            </td>
                                                                                    
        </tr>

        <tr>
            <td colspan="2" style="text-align:right; background-color:white" colspan="2">{{((data | selectattr("TOTAL_INV_CNFRMED", "defined") | map(attribute="TOTAL_INV_CNFRMED") | list| map("int") | sum ) / (data | selectattr("TOTAL_AMNT_INV_SENT", "defined") | map(attribute="TOTAL_AMNT_INV_SENT") | list| map("int") | sum ) * 100) | int }}% مبلغ صورت وضعیت های ارسالی، تایید شده اند.</td>
        </tr>

    

        <tr>
            <td colspan="2" style= "background-color: #d6d2d2;"></td>
        </tr>

    </table>

</body>
</html>