{#صفحه خلاصه هر قرارداد#}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>صفحه خلاصه هر قرارداد</title>
    <style>
        body {
            font-family: 'Vazir FD';
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #444;
            background-color: #fdfdfd;
            margin-left: auto;
            margin-right: auto;
            padding: 40px;
            background-color: white;
            vertical-align: middle;
            direction: rtl;
        }
        td, th {
            padding: 14px;
            text-align: center;
            font-size: 13px;
            vertical-align: top;
            background-color: #f0f0f0;
            font-weight: bold;
            border: 1px solid #444;
        }
        th {
            text-align: center;
            font-size: 25px;
        }
        .page-break-container {
            page-break-before: always;
        }

        @page {
        size: A4 portrait;
        margin: 1cm;
        }
        
    </style>

    {% set NO_DATA = "<span style='font-size:12;color:gray;'>اطلاعات ناموجود</span>" %}


    {%set ENUM_STATE = [
            {
            "value": 0,
            "label": "شروع نشده",
            "sort": 1
            },
            {
            "value": 1,
            "label": "جاری",
            "sort": 2
            },
            {
            "value": 2,
            "label": "تکمیل شده",
            "sort": 3
            },
            {
            "value": 3,
            "label": "خاتمه داده شده",
            "sort": 4
            },
            {
            "value": 4,
            "label": "فسخ شده",
            "sort": 5
            }
    ]%}

    {%set TYPE_ENUM = [
        {
          "value": 0,
          "label": "تدارکات/تامین کالا",
          "sort": 1
        },
        {
          "value": 1,
          "label": "مشاوره ای",
          "sort": 2
        },
        {
          "value": 2,
          "label": "انفورماتیک (IT)",
          "sort": 3
        },
        {
          "value": 3,
          "label": "خدمات",
          "sort": 4
        }
    ]%}

    {%set NATURE_ENUM = [
        {
          "value": 0,
          "label": "درآمدی",
          "sort": 1
        },
        {
          "value": 1,
          "label": "هزینه ای",
          "sort": 2
        }
    ]%}

</head>
 <body>
    {%for contract in data%}
    <div class="page-break-container"></div>
    
   <table>
        <colgroup>
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
        </colgroup>

        <tr>
            <td style= "background-color: #d6d2d2; padding-bottom:2px; padding-top:5px; border-left-style: hidden;"> <img src="http://172.16.0.183:90/root/kitpublic/-/raw/main/14008545415.png?ref_type=heads&inline=false" style=" width:22px; display:flex; flex-direction: row; justify-content: flex-end;"></td>
            <td colspan="2" style= "background-color: #d6d2d2;">خلاصه قرارداد شماره {{contract.NO_CONTR}}</td>
            <td colspan="2" style= "background-color: #d6d2d2; border-right-style: hidden;"></td>

        </tr>

        <tr >
            <td style="text-align:right; background-color:white">نام:   {{contract.TITLE}}</td>
            <td style="text-align:right; background-color:white">وضعیت: {%if contract.STATE%}
                                                                            {{ENUM_STATE[contract.STATE[0]].label}}
                                                                        {%else%}
                                                                            {{NO_DATA}}
                                                                        {%endif%}</td>
                                                                        
            <td style="text-align:right; background-color:white">طرف: {{contract.SIDE[0].PERSON_NAME}}</td>
            <td style="text-align:right; background-color:white">مبلغ کل قرارداد: {{contract["TOTAL_AMNT"] | int | money }} ریال</td>
          
        </tr>

        <tr>
            <td colspan="2" style="text-align:right">متوسط زمان بین ارسال تا تایید صورت وضعیت:</td>

            {%set sum = namespace(total=0)%}
            {% for invoice in contract.INVS %}                
                {% set sum.total = sum.total + daydiff(invoice.DATE_SENT_CONTRACTOR, invoice.DATE_CNFRMED_EMPLYR) %}
            {% endfor %}

            
            <td colspan="2" style="text-align:right; border-right-style: hidden;">
            {%if (contract.INVS | length) | round(1)%}
                {{ ((sum.total) / (contract.INVS | length)) | round(1) }} روز
                
            {%else%}
                0 روز
            {%endif%}
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:right; background-color:white"">درصد مبلغ کل صورت وضعیت های تاییدی به مبلغ کل قرارداد:</td>      
            <td colspan="2" style="text-align:right; border-right-style: hidden; background-color:white"">  {%if contract.TOTAL_INV_CNFRMED and contract.TOTAL_INV_CNFRMED is not none and contract.TOTAL_INV_CNFRMED[0] and contract["TOTAL_AMNT"] and contract["TOTAL_AMNT"][0] and contract["TOTAL_AMNT"][0]["amount"] %}
                                                                                                            {{((contract.TOTAL_INV_CNFRMED[0]["amount"] | int / contract["TOTAL_AMNT"][0]["amount"]) | int * 100) | int}}%
                                                                                                            {%else%}
                                                                                                            {{NO_DATA}}
                                                                                                            {%endif%}
                                                                                                            </td>
        </tr>
        <tr>
            <td colspan="4" style= "background-color: #d6d2d2;"></td>
        </tr>
        {% set notConfirmedcount = 0 %}
        {% for inv in contract.INVS %}
            {% if inv.SUM_CNFRMED_EMPLYR is not defined or inv.SUM_CNFRMED_EMPLYR in [None, [], 0] %}
                {% set notConfirmedcount = notConfirmedcount + 1 %}
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align:right">تعداد کل صورت وضعیت های ارسالی:</td>
            <td colspan="2" style="text-align:right; border-right-style: hidden;"><span style="font-size:12; background-color: lightgray;">{{ contract.INVS | length }}</span> صورت وضعیت</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right">تعداد کل صورت وضعیت های تاییدی:</td>
            <td colspan="2" style="text-align:right; border-right-style: hidden;"><span style="font-size:12; background-color: lightgray;">{{ contract.INVS | length - notConfirmedcount }}</span> صورت وضعیت</td>
        </tr> 
        <tr>
        {%if (contract.INVS | length)%}
            <td colspan="4" style="text-align:right; background-color:white" colspan="2"><u>{{((contract.INVS | length - notConfirmedcount) / (contract.INVS | length) * 100) | int }}%</u> تعداد صورت وضعیت های ارسالی، تایید شده اند.</td>
        {%endif%}
        </tr>

        <tr>
            <td colspan="4" style= "background-color: #d6d2d2;"></td>
        </tr>

        <tr >
            <td colspan="2" style="text-align:right">مبلغ کل صورت وضعیت های ارسالی:</td>
            <td colspan="2" style="text-align:right; border-right-style: hidden;"> <span style="font-size:12; background-color: lightgray;">
                                                                                   {%if contract.TOTAL_AMNT_INV_SENT and contract.TOTAL_AMNT_INV_SENT is not none %}
                                                                                   {{contract.TOTAL_AMNT_INV_SENT[0]["amount"] | money }}</span> ریال
                                                                                   {%else%}
                                                                                   {{NO_DATA}}
                                                                                   {%endif%}
                                                                                    </td>  
        </tr>
        <tr>
            <td colspan="2" style="text-align:right">مبلغ کل صورت وضعیت های تاییدی: </td>  
            <td colspan="2" style="text-align:right; border-right-style: hidden;"> <span style="font-size:12; background-color: lightgray;">
                                                                                   {%if contract.TOTAL_INV_CNFRMED and contract.TOTAL_INV_CNFRMED[0] is not none %}
                                                                                   {{contract.TOTAL_INV_CNFRMED[0]["amount"] | money}}</span> ریال
                                                                                   {%else%}
                                                                                   {{NO_DATA}}
                                                                                   {%endif%}
                                                                                    </td>
        </tr>
        {%if contract.TOTAL_AMNT_INV_SENT and contract.TOTAL_AMNT_INV_SENT is not none%}
        <tr>
            <td colspan="4" style="text-align:right; background-color:white" colspan="2"><u>{{((contract.TOTAL_INV_CNFRMED[0]["amount"]) / (contract.TOTAL_AMNT_INV_SENT[0]["amount"] ) * 100) | int }}%</u> درصد مبلغ صورت وضعیت های ارسالی، تایید شده اند.</td>
        </tr>
        {%endif%}

        <tr>
            <td colspan="4" style= "background-color: #d6d2d2;"></td>
        </tr>

    </table>
    {%endfor%}

  
        
</body>


</html>